body {
  --primary: #4D869C;
  --secondary: #EEF7FF;
  --primary-btn: var(--secondary);
  --secondary-btn: var(--primary);
  --disabled-btn: lightgray;
  background-color: var(--secondary);
  height: 100vh;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}
.logo{
  width: auto;
  height: 32px;
}
a{
  text-decoration:none;
}
.overflow{
  flex-wrap: wrap;
}
.overflow-y{
  overflow-y: scroll;
  flex-wrap: wrap;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex{
  display: flex;
}
.wrapper{
  min-height: 85%;
  height: 90%;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
.center{
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fill{
  flex-grow: 1;
}
.header{
  background-color: var(--primary);
}
.p-4{
  padding: 4px;
}
.mr-2{
  margin: 2px;
}
.mr-4{
  margin: 4px;
}
.m-8{
  margin: 8px;
}
.mt-8{
  margin-top: 8px;
}
.ml-8{
  margin-left: 8px;
}
.mb-8{
  margin-bottom: 8px;
}
.gap-8{
  gap: 8px;
}
.gap-4{
  gap: 4px;
}
h1{
  color: var(--primary);
  font-size: 24px;
}
.btn{
  background-color: transparent;
  text-align: center;
  text-decoration:none;
  display: flex;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
}
input[type="submit"]{
  border-radius: 4px;
}
.btn:hover,input[type="submit"]{
  cursor: pointer;
  filter: brightness(85%);
}
.btn-primary{
  background-color: none;
  border-color:var(--primary-btn);
  color: var(--primary-btn);
}
.btn-secondary{
  background-color: none;
  border-color:var(--secondary-btn);
  color: var(--secondary-btn);
}
.btn-disabled{
  background-color: none;
  border-color:var(--disabled-btn);
  color: var(--disabled-btn);
}
.txt-primary{
  color: var(--primary-btn)
}
.txt-secondary{
  color: var(--secondary-btn);
}
.txt-disabled{
  color: var(--disabled-btn);
}
form{
  width: fit-content;
  align-items: center;
  padding: 8px;
  border-color: var(--primary);
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
}
.boardcard{
  max-width: 160px;
  max-height: 120px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
}
.trim{
  overflow: hidden;
  object-fit:cover;
}
.between{
  justify-content: space-between;
}
.line{
  stroke: var(--primary);
  width: 2px;
  width: max-content;
}
hr{
  color: var(--primary);
}
.hr{
  color: var(--primary);
  border:1px solid;
}
.h2{
  font-size:36px;
  font-weight: bold;
}
.cardswrapper{
  gap: 4px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  max-width: 80%;
  width: 80%;
}
.cardwrapper{
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--primary);
  min-width: 250px;
  padding: 8px;
  height: min-content;
}
.boardinfo{
  width: 23%;
  min-height: 80vh;
  max-height: 80vh;
}
.vh-80{
  min-height: 80vh;
}
.taskwrapper{
  cursor: pointer;
  border-radius: 8px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  max-width: 270px;

}
.wrap{
  flex-wrap: wrap;
}
.max-x{
  width: 100%;
}
.max-y{
  height: 100%;
}
button{
  background-color: transparent;
}
.markwrapper{
  color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  font-size: small;
}
.mix{
  mix-blend-mode: difference;
}