:root {
  --primary: #4D869C;
  --primary-darker:#45798C;
  --secondary: #EEF7FF;
  --primary-btn: var(--secondary);
  --secondary-btn: var(--primary);
  --disabled-btn: lightgray;
  --error: rgb(255, 3, 3);
  --btn-terminate:var(--error)
}